
.titleText {
    font: bolder small-caps 15px/30px Roboto;
    display:inline-flex;
    letter-spacing: 7.2px;
    color: #000000;
    opacity: 1;
    font-size:80%;
  }

  .hr1{
    width: 15%;
    background-color: blue;
    height: 3px;
    margin-top: 2px;
    margin-left: 22%;
  }

  .my-row
{
  padding: 8px;
  background-color:#EEEEEE;
  margin-bottom: 0px;
}

.content-center{
  text-align: center;
}
 
li{
  font-size: 80%;
}

.fo
{
  font-size: 80%;
}

label{
  font-weight: bold;
}

.button{
  background-color:springgreen;
  color: white;
  font-weight: bold;
  width: 55%;
  border:1px solid white;
}

#close_icon{
  vertical-align: middle;
  float: right;
  margin-right: -30px;
  margin-top: -10px;
  cursor: pointer;

}

@media only screen and (max-width : 1300px){

ul{
margin-left: -40px;

}

}


@media only screen and (max-width : 996px){

  .hr1{
    display: none;
  }
  
  }

  
  

